[Desktop Entry]
Encoding=UTF-8
Name=EXD
Comment=EXD P2P Cryptocurrency
Exec=exdex-qt %u
Terminal=false
Type=Application
Icon=exdex128
MimeType=x-scheme-handler/exdex;
Categories=Office;Finance;
Name[en_US]=exdex-qt.desktop
