[Unit]
Description=EXD's distributed currency daemon
After=network.target

[Service]
User=exdex
Group=exdex

Type=forking
PIDFile=/var/lib/exdexd/exdexd.pid

ExecStart=/usr/bin/exdexd -daemon -pid=/var/lib/exdexd/exdexd.pid \
          -conf=/etc/exdex/exdex.conf -datadir=/var/lib/exdexd

ExecStop=-/usr/bin/exdex-cli -conf=/etc/exdex/exdex.conf \
         -datadir=/var/lib/exdexd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
